{{#link-to "players.show" player}}
<div class="container-fluid">
<div class="row">
  <div class="col-md-1">
    <img src="../images/default-profile.png" alt="" class="img-thumbnail">
  </div>
  <div class="col-md-4">
  <h4>{{player.firstname}} {{player.lastname}}</h4>
</div>
  <div class="col-md-4">
    <span>League:</span> {{player.league}}
  </div>
</div>
</div>
{{/link-to}}
