{{#list-filter
   filter=(action 'filterByPlayer')
   as |players|}}
  <ul class="list-group">
    {{#each players as |playerUnit|}}
      <li class="list-group-item">{{player-listing player=playerUnit}}</li>
    {{/each}}
  </ul>
{{/list-filter}}
{{outlet}}
