<div class="hero">
  <div class="row">
    <div class="col-md-12">
  <div class="playerHero">
  <h1>Welcome!</h1>
  <h3>Best place to get your fantasy sports groove on.</h3>
  </div>
    </div>
  </div>
</div>
{{outlet}}
