<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>Best place to get your fantasy sports groove on</p>
</div>
{{#each model as |playerUnit|}}
{{player-listing player=playerUnit}}
{{/each}}
